<div class="container">
    <div class="row">
        <h4 class="col-md-8">All Students</h4>

        <a class="col-md-4" routerLink="/students/add">
            <i class="fa fa-plus-square"></i>
        </a>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">student Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Mail</th>
                <th scope="col">Birthdate</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of this.students">
                <th scope="row">{{student.Id}}</th>
                <td>{{student.Name}}</td>
                <td>{{student.Phone}}</td>
                <td>{{student.Mail}}</td>
                <td>{{student.Birthdate}}</td>
                <td>
                    <a>
                        <i [routerLink]="['../students/edit', student.Id]" class="fa fa-edit"></i>
                    </a>
                    <a (click)="deleteStudent(student.Id)">
                        <i class="fa fa-trash"></i>
                    </a>
                    <a>
                        <i [routerLink]="['../students/details', student.Id]" class="fa fa-info-circle"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>